src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="nationality.xsd" />

    <xsd:simpleType name="usernameType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="passwordType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="ageType">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <!-- <xsd:simpleType name="nacionalityType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType> -->

    <xsd:simpleType name="fotoType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="victoriesType">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="defeatsType">
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>

    <xsd:simpleType name="timeType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="colorType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>    

    <xsd:complexType name="gameType">
        <xsd:sequence>
            <xsd:element name="time" type="timeType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="gamesType">
        <xsd:sequence>
            <xsd:element name="game" type="gameType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="userType">
        <xsd:sequence>
            <xsd:element name="username" type="usernameType"/>
            <xsd:element name="password" type="passwordType"/>
            <xsd:element name="age" type="ageType"/>
            <!-- <xsd:element name="nacionality" type="nacionalityType"/> -->
            <xsd:element name="nacionality" type="abbreviationType" minOccurs="0"/>
            <xsd:element name="color" type="colorType"/>
            <xsd:element name="foto" type="fotoType"/>
            <xsd:element name="victories" type="victoriesType"/>
            <xsd:element name="defeats" type="defeatsType"/>
            <xsd:element name="games" type="gamesType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema> 